
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Register / Scan this QR CODE </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img [src]="img" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit)="addUser(form)" ngNativeValidate>
      <input type="text" name="username" required id="username" placeholder="Username" name="username" [(ngModel)]="username">
      <input type="email" required id="login" [(ngModel)]="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" required id="password" [(ngModel)]="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="password" required id="password2" [(ngModel)]="confirmpassword" class="fadeIn third" name="password2" placeholder="Confirm Password">
      <input type="submit" required class="fadeIn fourth" value="Register User">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Login</a>
    </div>

  </div>
</div>