
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./../../assets/user.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit)="verificar()" ngNativeValidate>
      <input type="email" required id="login" [(ngModel)]="email" class="fadeIn second" name="login" placeholder="Email">
      <input type="password" required id="password" [(ngModel)]="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="number" class="fadeIn fourth" placeholder="Token" [(ngModel)]="token" *ngIf="email != null && password != null" id="token" name="token.">
      <input type="submit" required class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Register Here</a>
    </div>

  </div>
</div>